<app-search-header [leftIcon]="'user'" [rightIcon]="'well'"></app-search-header>
<ion-content>
  <div class="full-screen">
    <ion-item lines="none">
      <ion-row class="notification">
        <ion-col>
          <h4>Notification</h4>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/001.png">
          <ion-text>
            It's Name birthday today. let know tha you,re thinkin about him!
          </ion-text>
          <div>
            8 hours ago
          </div>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/002.png">
          <ion-text>
            It's Name birthday today. let know tha you,re thinkin about him!
          </ion-text>
          <div>
            8 hours ago
          </div>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/001.png">
          <ion-text>
            It's Name birthday today. let know tha you,re thinkin about him!
          </ion-text>
          <div>
            8 hours ago
          </div>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/001.png">
          <ion-text>
            It's Name birthday today. let know tha you,re thinkin about him!
          </ion-text>
          <div>
            8 hours ago
          </div>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row class="earlier">
        <ion-col>
          <h4>Earlier</h4>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/001.png">
          <ion-text>
            It's Name birthday today. let know tha you,re thinkin about him!
          </ion-text>
          <div>
            8 hours ago
          </div>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/002.png">
          <ion-text>
            It's Name birthday today. let know tha you,re thinkin about him!
          </ion-text>
          <div>
            8 hours ago
          </div>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/001.png">
          <ion-text>
            It's Name birthday today. let know tha you,re thinkin about him!
          </ion-text>
          <div>
            8 hours ago
          </div>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/001.png">
          <ion-text>
            It's Name birthday today. let know tha you,re thinkin about him!
          </ion-text>
          <div>
            8 hours ago
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-row text-center>
    <ion-col>
      <a href="#"><img src="assets/images/home.png"></a>
    </ion-col>
    <ion-col>
      <a href="#"><img src="assets/images/dare.png"></a>
    </ion-col>
    <ion-col>
      <a href="#"><img src="assets/images/aware.png"></a>
    </ion-col>
    <ion-col>
      <a href="#"><img src="assets/images/user2.png"></a>
    </ion-col>
  </ion-row>
</ion-footer>