<ion-header>
  <ion-toolbar color="btnColor">
    <ion-title padding>
      <img src="assets/images/left_arrow.png">
      <ion-searchbar placeholder="Search..." color="light"></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="full-screen">
    <ion-item lines="none">
      <ion-row class="suggestion">
        <ion-col>
          <h4>Who are you with?</h4>
          <p>Suggestions</p>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/001.png">
          <span>Ruchi</span>
          <img class="img-tick" src="assets/images/tick.png">
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/002.png">
          <span>Aarti</span>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/001.png">
          <span>Sapna</span>
          <img class="img-tick" src="assets/images/tick.png">
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/003.png">
          <span>Rohan Kumar</span>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/002.png">
          <span>Rajni</span>
          <img class="img-tick" src="assets/images/tick.png">
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/003.png">
          <span>Rohan Kumar</span>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/001.png">
          <span>Ruchi</span>
          <img class="img-tick" src="assets/images/tick.png">
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/001.png">
          <span>Sapna</span>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/002.png">
          <span>Aarti</span>
          <img class="img-tick" src="assets/images/tick.png">
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <img src="assets/images/001.png">
          <span>Vanita</span>
          <img class="img-tick" src="assets/images/tick.png">
        </ion-col>
      </ion-row>
    </ion-item>
  </div>
</ion-content>