<ion-header padding>
  <ion-toolbar>
    <ion-title>
      <img src="/assets/images/0001.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="full-screen">
    <ion-list lines="none">
      <ion-row>
        <ion-col>
          <ion-label class="content">
            <h3>Lorem ipsum dolor sit amet</h3>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="content">
          <ion-label class="sub-text">
            Lorem ipsum dolor sit amet,cotur adipisicing elit,sed <br>
            do eiusmod tempor incididunt.
          </ion-label>
        </ion-col>
      </ion-row>
      <form (ngSubmit)="forgotPassword(email)">
        <ion-row>
          <ion-col>
            <ion-input name="email"  placeholder="Phone number, username or email" id="main"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row text-center class="form-horizontal" padding-bottom>
          <ion-col>
            <ion-button color="btnColor" class="btn" type="submit">
              Send Login Link
            </ion-button>
          </ion-col>
        </ion-row>
      </form>

      <ion-row text-center>
        <ion-col>
          <ion-label>OR</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-btn">
          <a href="/signup">Create New Account</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signIn-btn">
          <a href="/signin">Back To Login</a>
        </ion-col>
      </ion-row>

    </ion-list>
  </div>
</ion-content>
