<ion-row>
  <ion-col size="2">
    <a href="#">
      <img class="profile-img" src="assets/images/bg_user.png">
    </a>
  </ion-col>
  <ion-col size="10" class="feed-heading">
    <p>
      <a class="name-link" href="#">Name</a> dare to <a class="name-link" href="#">Friend Name</a>
    </p>
    <p>
      20 December at 04:36. Location.
    </p>
  </ion-col>
  <ion-text>
    Lorem ipsum dolor sit amet,consectetur adipisicing elit,
  </ion-text>
</ion-row>
<ion-row>
  <ion-col>
    <img class="dare-banner" src="assets/images/{{feed}}">
  </ion-col>
</ion-row>
<ion-row class="like-section">
  <ion-col>
    <img src="assets/images/like.png">
    <span>1,998</span>
  </ion-col>
  <ion-col>
    <img src="assets/images/comment.png">
    <span>50</span>
  </ion-col>
  <ion-col>
    <img src="assets/images/user_search.png">
    <span>2,000</span>
  </ion-col>
  <ion-col>
    <img src="assets/images/option.png">
    <span>1,000</span>
  </ion-col>
</ion-row>
<ion-row class="comment-section">
  <ion-col size="2">
    <img src="assets/images/bg_user.png">
  </ion-col>
  <ion-col size="10">
    <ion-input type="text" name="" placeholder="write a comment">
      <span class="input-img">
        <img src="assets/images/smile.png">
        <img src="assets/images/camera_aware.png">
        <img src="assets/images/vedio.png">
      </span>
    </ion-input>
  </ion-col>
</ion-row>