<app-search-header [leftIcon]="'left_arrow'" [rightIcon]="'user'"></app-search-header>

<ion-content>
  <div class="full-screen">
    <ion-row>
      <ion-col class="img-column" text-center>
        <img class="profile" src="assets/images/profile.png">
        <span>
          <img src="assets/images/camera.png">
          <b>Edit</b>
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <span>Name</span>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-item lines="none">
        <p>
          <ion-input type="text" name="" placeholder="Ruchi"></ion-input>
        </p>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-item lines="none">
        <p>
          <ion-input type="text" name="" placeholder="Ruchi"></ion-input>
        </p>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-label>Website</ion-label>
      <ion-item lines="none">
        <p>
          <ion-input type="text" name="" placeholder="abc"></ion-input>
        </p>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-label>Bio</ion-label>
      <ion-item lines="none">
        <p>
          <ion-input type="text" name="" placeholder="abc"></ion-input>
        </p>
      </ion-item>
    </ion-item>
    <ion-item>
      <span>
        Basic Information
      </span>
    </ion-item>
    <ion-item>
      <ion-label>Birthday</ion-label>
      <ion-item lines="none">
        <p>
          <ion-input type="text" name="" placeholder="01-01-94"></ion-input>
        </p>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-item lines="none">
        <p>
          <ion-input type="text" name="" placeholder="Female"></ion-input>
      </ion-item>
    </ion-item>
    <ion-item>
      <span>
        Private Information
      </span>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-item lines="none">
        <p>
          <ion-input type="text" name="" placeholder="Admin@gmail.com"></ion-input>
        </p>
      </ion-item>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-row text-center>
    <ion-col>
      <a href="#"><img src="assets/images/home.png"></a>
    </ion-col>
    <ion-col>
      <a href="#"><img src="assets/images/dare.png"></a>
    </ion-col>
    <ion-col>
      <a href="#"><img src="assets/images/aware.png"></a>
    </ion-col>
    <ion-col>
      <a href="#"><img src="assets/images/user2.png"></a>
    </ion-col>
  </ion-row>
</ion-footer>