<app-search-header [iconUser]="'user'" [iconImg]="'well'"></app-search-header>

<ion-content>
  <div class="full-screen">
    <ion-item class="image-row" lines="none">
      <div class="start_bg1">
        <img src="assets/images/white_aware.png">
        <P>Ruchi</P>
      </div>
      <div class="start_bg2">
        <img src="assets/images/white_aware.png">
        <P>Rajani</P>
      </div>
      <div class="start_bg3">
        <img src="assets/images/white_dare.png">
        <P>Rohan</P>
      </div>
      <div class="start_bg4">
        <img src="assets/images/white_dare.png">
        <P>Mohan</P>
      </div>
      <div class="start_bg5">
        <img src="assets/images/white_aware.png">
        <P>Ruchi</P>
      </div>
    </ion-item>

    <div *ngFor="let feed of feedImage">
      <app-feeds [feed]="feed"></app-feeds>
    </div>
  </div>
</ion-content>